
body, html, #root {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Segoe UI', sans-serif;
  width: 100%; height: 100%
}


.main-content {
 
  width: 100%;
  padding: 0;
}


.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%
}

.app-header {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.dashboard-wrapper {
  width: 100%;
  display: flex;
  max-width: 1400px;
  justify-content: center;
  padding: 2rem 0;
}
